h1 {
	color: white
	;
}


p {
	font-weight: bold;
	color: white;
	font-size: 16px;
}

html {
	background-image: url(https://cdn.shutterstock.com/shutterstock/videos/7716544/thumb/1.jpg); 
	background-size: cover;
	
	
}